<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>打赏</title>
<meta name="keywords" content="" />
<meta name="description" content="" />

<link rel="stylesheet" type="text/css"
	th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/fonts/iconic/css/material-design-iconic-font.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>

<body>

	<div class="limiter">
		<div class="container-login100"
			style="background-image: url('images/bg-01.jpg');">
			<form class="login100-form validate-form" th:action="@{/pay}"
				method="post">

				<!-- 
					<input class="input100" type="text" name="amt" placeholder="请输入打赏金额" autocomplete="off" autofocus="autofocus">
					 -->

				<div class="container-login100-form-btn">
					<div class="wrap-login100-form-btn">
						<div class="login100-form-bgbtn"></div>
						<button class="login100-form-btn">打赏</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<script th:src="@{/vendor/jquery/jquery-3.2.1.min.js}"></script>
	<script th:src="@{/js/main.js}"></script>
</body>

</html>