<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>找回密码</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" /> 

	<link rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/fonts/iconic/css/material-design-iconic-font.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>

<body>

	<div class="limiter">
		<div class="container-login100" style="background-image: url('images/bg-01.jpg');">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
				<form class="login100-form validate-form" th:action="@{/index}" method="post">
					<span class="login100-form-title p-b-49">找 回 密 码</span>

					<div class="txt1 text-center p-t-20 p-b-10">
						<div class="wrap-login100-form-span">
							<span style="color:#F00">
								请联系站务人员修改密码</br>
							</span>
							</br>
							</br>
							<span>
								邮件发至：llin@easypay.com.cn</br>
								邮件主题：密码修改</br>
								邮件内容：</br>‘用户名’ + ‘联系电话’ + ‘新密码’
							</span>
							</br>
							</br>
							</br>
						</div>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">首 页</button>
						</div>
					</div>

					<div class="flex-col-c p-t-25">
						<a th:href="@{/register}" class="txt2">立即注册</a>
					</div>
				</form>
			</div>
		</div>
	</div>

	<script th:src="@{/vendor/jquery/jquery-3.2.1.min.js}"></script>
	<script th:src="@{/js/main.js}"></script>
</body>

</html>